* {
    margin: 0 auto;
    padding: 0;

    text-align: center;
    font-family: Roboto, sans-serif;
}

body {
    width: 1280px;
}

.to-links {
    margin: 25px auto;
}

a {
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 14px;
    color: #16a085;
    text-decoration: none;
}

.gray-back {
    padding: 50px 0 75px;
    background: #f0f0f0;
}

.header {
    color: #373737;
    font-size: 22px;
    font-weight: 900;
}

.lorem-again {
    padding: 25px 0;
    width: 75%;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
}

.btn {
    width: 192px;
    height: 51px;
    border-radius: 5px;
    background-color: #16a085;
    color: #fff;
    font-family: GothamRounded, sans-serif;
}

.rights-reserved {
    padding: 25px 0 25px 640px;
    text-align: center;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
}